<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">CoinVault</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <h6 *ngIf="loading" class="dropdown-header">Loading...</h6>
          <a *ngFor="let category of categories" class="dropdown-item" routerLink="/categories/{{category.id}}">{{category.title}}</a>
        </div>
      </li>
    </ul>
     <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!authService.authenticated" (click)="authService.login()" class="nav-item">
        <a class="nav-link">Log In</a>
      </li>
      <li *ngIf="authService.authenticated" (click)="authService.logout()" class="nav-item">
        <a class="nav-link">Log Out</a>
      </li>
      <li *ngIf="authService.authenticated" class="nav-item">
        <a class="nav-link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
