<div class="text-center" *ngIf="loading">
  <p class="lead">Loading...</p>
</div>

<div *ngIf="categories" class="container  mb-5">
  <h1>Categories</h1>
  <table class="table table-hover">
    <caption>Select a category to view and edit category details and category coins</caption>
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Created On</th>
        <th scope="col">Updated On</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="categories.length < 1">
        <td colspan="4">There are no categories! Add one below!</td>
      </tr>
      <tr class="category" *ngFor="let category of categories" routerLink="/admin/categories/{{category.id}}">
        <th scope="row">{{category.id}}</th>
        <td>{{category.title}}</td>
        <td>{{category.createdAt | date:'shortDate'}}</td>
        <td>{{category.updatedAt | date:'shortDate'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!loading" class="container  mb-5">
  <h1>New Category</h1>
  <form (ngSubmit)="onAddSubmit()">
    <div class="form-group">
      <label for="categoryTitle">Category Title</label>
      <input type="text" class="form-control" id="categoryTitle" placeholder="Title" [(ngModel)]="newCategory.title" name="categoryTitle" required>
    </div>
    <div class="form-group">
      <label for="categoryDescription">Category Description</label>
      <textarea class="form-control" id="categoryDescription" placeholder="Describe the new category here..." rows="4" [(ngModel)]="newCategory.description" name="categoryDescription" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create Category</button>
  </form>
  <div *ngIf="submitSuccess" class="alert alert-success mt-3" role="alert">
    Category Successfully Created!
  </div>
  <div *ngIf="submitFailed" class="alert alert-danger mt-3" role="alert">
    Category Unsuccessfully Created!
  </div>
</div>

